---
layout: page
---

{% assign poster = page.rdf | rdf_property: "rdfs:seeAlso" %}
{% assign slug = poster | rdf_property: "posters:slug" %}
{% assign poster_l = poster | rdf_property: "posters:slug" | prepend: "img/" | append: "_l.png" %}
{% assign poster_s = poster | rdf_property: "posters:slug" | prepend: "img/" | append: "_s.png" %}

<h1>{{ poster | rdf_property: "dct:title" }}</h1>
<p><em>{{ poster | rdf_property: "dct:creator" }}</em></p>

<p>{{ poster | rdf_property: "dct:description" }}</p>

<a href="{{ poster_l | relativize_url}}"><img src="{{ poster_s | relativize_url }}"></a>
